[2017-01-17 22:50] joshuataylor opened #4 "Ecto.Repo.insert_all/3"
Would be really nice to support [insert_all/3](https://hexdocs.pm/ecto/Ecto.Repo.html#c:insert_all/3), this way we can insert multiple records easily.

[2017-01-17 23:47] izelnakri commented on #4
I think it is a nice feature. If you are willing to create a pull request, I'll certainly review it!

[2017-01-18 00:08] joshuataylor commented on #4
I'll have a look into it, to see how hard it'll be to implement.

[2017-01-28 20:20] joshuataylor opened #7 "Encoding problems with many_to_many for PaperTrail.update/2"
So I'm doing something like

[code]

Now, when saving, it gives me the following error:
`** (Poison.EncodeError) unable to encode value: {:assoc, %Ecto.Association.BelongsTo{cardinality: :one, defaults: [], field: :something, on_cast: nil, on_replace: :raise, owner: MyApp.Something, owner_key: :something_id, queryable: MyApp.Something, related: MyApp.Something, related_key: :id, relationship: :par

[2017-01-30 07:28] asiniy opened #8 "Any way to override `version` model?"
I want to change timestamps in `PaperTrail.Version` to make them using an `timex_ecto` field. Is there any way to do that?

[2017-01-30 17:02] izelnakri commented on #8
currently paper_trail uses the default ecto timestamps. The assignments happen via ecto, I think the best way to implement that behavior would be to write your own wrapper function inside the papertrail.version model. something like ```PaperTrail.Version.in_timex(version)```, this function can parse and turn those fields to timex fields and return a new struct.

[2017-01-30 17:06] izelnakri commented on #7
There is no relationship called ```:changeset``` in paper_trail. ```PaperTrail.insert , update and delete``` functions wrap your record insertion/edit in a database transaction and creates a row with associated data in the ```versions``` table. You shouldnt change the data manually like this.

[2017-01-30 17:36] asiniy commented on #8
@izelnakri so ditry!

[2017-01-30 17:36] #8 closed

[2017-01-30 23:12] izelnakri commented on #8
If you have any API suggestions feel free to provide it here.

[2017-01-31 03:42] asiniy commented on #8
@izelnakri to be honest, I don't feel good around the whole structure overall. But `paper_trail` works, and works well, so thanks you for it!

I'm not familiar with FP a lot, I'll suggest when read fundamental books about it. So, give me couple of months :smile:

[2017-02-01 22:32] izelnakri commented on #7
closing this issue if you are ok with it...

[2017-02-01 22:32] #7 closed

[2017-03-23 17:30] rusterholz opened #14 "Support for UUID primary keys?"
I'm hoping to use PaperTrail in a Phoenix project where all primary keys on database tables are UUIDs instead of integers.

Adapting the `add_versions` migration generated by PaperTrail to use UUIDs is fairly straightforward:

[code]

However, as you might expect, actually attempting to insert/update a version fails because the [item_id](https://github.com/izelnakri/paper_trail/blob/master/lib/ver

[2017-03-23 22:49] izelnakri commented on #14
Hi Andy, thanks for reporting this interesting issue. I would say that current behavior is intentional. I've designed PaperTrail for versioning many types of models at once, you can try to implement UUID versioning however then all your tracked models primary keys should be UUIDs. This makes the scope of this feature very tiny. Feel free to take a stab at it, I will review and share my opinion, th

[2017-03-23 22:51] #14 closed

[2017-04-20 21:01] jesseshieh opened #15 "How to revert back to anytime in history? How to merge versions?"
Hi, The documentation mentions that paper_trail can "revert back to anytime in history", but I can't figure out exactly how to revert or reconstitute an older version of a model. Is there documentation somewhere that describes this?

Also, it's mentioned that you "don't delete your paper_trail versions, instead you can merge them", but I can't figure out exactly how to merge them. Is there documen

[2017-04-22 14:34] izelnakri commented on #15
Hi @jesseshieh,

Yes PaperTrail can revert back to anytime in history because the data is already there.  ```item_changes``` column holds all the changes that occured in a single version. In order revert back in history you need to start from the beginning(because we dont want to store/duplicate data in each version), the initial version. You should also need to account relationships(related model

[2017-04-28 13:03] benwilson512 opened #16 "What information is persisted?"
Hey!

This looks like a valuable library, I really appreciate the commitment to testing and robustness. What information is stored for each version? A snapshot of the changes? or a snapshot of the whole row?

[2017-04-30 23:16] izelnakri commented on #16
I've decided to persist only the changes in order to save on overall data size and query speed. The only downside of this approach is reverting back becomes a more expensive operation, one has to fetch all the versions of a single record in order to build up its version state.

Thanks for your compliments, feel free to raise any suggestions / issues you might have in future ;)

[2017-04-30 23:16] #16 closed

[2017-05-04 10:45] itSQualL opened #17 "Problem updating changesets with relations."
I'm trying to use `PaperTrail.update` to update a record that has a `has_many` relation, but it is triggering the next error:
[code]

It works fine with `Repo.update` so, do you have any idea that could be happening?

[2017-05-04 13:44] itSQualL commented on #17
The problem seems to be here: https://github.com/izelnakri/paper_trail/blob/master/lib/paper_trail.ex#L278-Lundefined

That returns:

[code]

And fails when you try to do `@repo.insert(version)`

[2017-05-04 21:11] izelnakri commented on #17
item_changes should represent a simple map of the changes automatically generated from your changeset functions. %PaperTrail.Version{item_changes: %{}} is essentially the %Changeset{changes: %{}}. I've never seen a case where you would have a changeset inside a changeset.changes, it should always be a simple map. Are you trying to update relationships in one go? Can you provide the your controller

[2017-05-04 22:36] itSQualL commented on #17
Thank you for answering

I have the objective and the params

`objective` is a struct returned from `Repo.get`
`params` are like:
[code]
Then, I'm just doing:

[code]

Objective module:
[code]

[2017-05-25 19:17] izelnakri commented on #17
related discussion: https://github.com/izelnakri/paper_trail/pull/18. Im closing this issue now.

[2017-05-25 19:17] #17 closed

[2017-06-11 04:17] asummers opened #22 "Filter Changes"
Is there interest in being able to filter certain changes from the changes stored in the DB? Suppose I have a `User` schema. I might not want to version their password hash, for example. This could perhaps be done as a hook in the `make_version_struct` or `serialize` functions. I can see use cases for having filters defined at the schema level, as well as individual inserts/updates, so being able

[2017-06-11 05:00] zachdaniel commented on #22
@andrew I think perhaps just like a `filter` function that takes the whole changes object. that way things can be filtered by value as well.

[2017-06-11 05:17] asummers commented on #22
That could work.

[code]

[2017-06-11 05:28] zachdaniel commented on #22
well, without the `.Only`

[2017-06-11 06:12] asummers opened #23 "Ecto.Repo.insert_or_update and Ecto.Repo.insert_or_update!"
I'll likely take a stab at this myself, but am making this issue for tracking purposes. For API parity, it would make sense to add these functions as well.

[2017-06-11 18:17] izelnakri commented on #23
Completely agree 👍 looking forward to your pull request!

[2017-06-11 18:29] izelnakri commented on #22
Filtering changes at paper_trail level would create inconsistency for rolling back versions/ reverting back to certain point in history.

For your password_digest example I think I would still create a version with ```PaperTrail.update()```, perhaps a better example would be forgot_password hashes/requests. You might not want to create a versions for such db changes but then my forgot_password req

[2017-06-22 17:51] #22 closed

[2017-07-28 10:53] dreamingechoes opened #24 "Add multi tenancy capabilities with Ecto meta prefix"
Sometimes it's required to work on a multi tenancy system, and be able to
keep track of the versions of the records/models on different schemas/databases. PaperTrail
doesn't allow this at this moment.

## Expected behavior

Be able to specify the tenant where the versions entries generated by the user's activity will be stored.

## Current behavior

Now it's not possible.

## Possible solution

Le

[2017-08-12 14:36] #24 closed

[2017-08-14 22:11] zimt28 opened #26 "Multiple originator models"
Hi,

thank you for this amazing library! In my application, there are multiple types of resources that I manage, `App.TypeA`, `App.TypeB` etc. Some of these resources can have a `App.UserAccount`, where the resource is the actual user. What would be the best way to store the originator? I thought about using the `originator` like `$type:$id`, but actual references would be preferred.

Thank you!

[2017-08-16 09:59] seymores opened #27 "** (RuntimeError) trying to access Mix.Project.app_path for an umbrella project but umbrellas have no app"
Using Phoenix 1.3 final and Papertrail 0.7.6.
Got this error when I try to run `mix papertrail.install`.

Must install in the app instead of from the top umbrella project?

[code]

[2017-08-16 21:43] izelnakri commented on #27
This is interesting I will try to create an umbrella project and test this, meanwhile you can fork the repo and create a pull request if you find the fix. Thanks for the report!

[2017-08-16 21:50] izelnakri commented on #26
Thank you for your compliments. Yes you can use an `origin` field like 'user_account:22' or 'remote_account:1' to store additional data about the originator. Originator field intentionally designed to be a foreign-key column to a table/model because this ensures that the data will be consistent.

Your case seems to be an edge-case, I would create one table that has one-to-one relationship with bot

[2017-08-16 21:50] izelnakri commented on #26
Im closing this issue let me know if you want it to be reopened

[2017-08-16 21:50] #26 closed

[2017-08-17 06:31] seymores commented on #27
The problem is that the Mix.Tasks.Papertrail.Install couldn't find out where is "priv/repo/migrations" located.
I looked at how Phoenix is currently handling the situation and it looks way more involved than I thought -- so my immediate solution is to run `mix papertrail.install` in the umbrella's app with the repo and migration files. :-D

I will submit PR if I get this resolved.

[2017-08-17 06:31] #27 closed

[2017-08-17 07:54] seymores opened #28 "** (UndefinedFunctionError) function Repo.transaction/1 is undefined (module Repo is not available)"
I'm trying out the latest `0.7.6` and getting this error when trying to update a record.
The update is a simple ` PaperTrail.update(changeset, origin: "test") `

I did condigure the `config :paper_trail, repo: MyApp.Repo ` and seems to work when I call ` Papertrail.Version.count() `.

[code]

From iex console, calling `PaperTrail.RepoClient.repo` returns the correct Repo.
So the configuration shou

[2017-08-17 08:01] izelnakri commented on #28
did you alias your MyApp.Repo in your mix application? Otherwise you should use `MyApp.Repo.update/2`

[2017-08-17 08:03] izelnakri commented on #28
Which version of ecto and postgrex do you use?

[2017-08-17 10:00] seymores commented on #28
More findings in iex console:

It looks like the `config :paper_trail, repo: TSC.Repo, item_type: Ecto.UUID, originator_type: Ecto.UUID` config is not loaded at runtime.
When I reload PaperTrail module using the `r PaperTrail`, my repo shows up correctly but then I encountered a different problem:

[code]

I am not sure why it is expecting `:integer` type for item_id even though my config specifie

[2017-08-18 08:19] seymores commented on #28
Never mind -- I have no fucking clue it's working perfectly fine after a mix clean.
Problem must be between the keyboard and chair. ;-)

[2017-08-21 03:18] seymores commented on #28
Hi @izelnakri -- I have to reopen this ticket because the problem is back after a project clean and recompile.

I have tracked the problem to the use of module attribute '@' for referencing repo, item_type, and originator_type.

I am using Elixir 1.5 and not sure if the behavior of referencing using module attribute changed since 1.4, but I am getting consistent problems of the config not being pi

[2017-08-25 21:37] jeremyjh commented on #7
@izelnakri We're struggling with the same issue. Joshua is not updating the data manually; he is using Ecto's `put_assoc` to populate a changeset. Papertrail does operate on changesets created with cast. If associations are not supported that is fine I guess but is this something you'd be open to a PR addressing (if its feasible) ?

[2017-08-29 02:37] backspace commented on #28
Hey, thanks for `PaperTrail`, @izelnakri, I’m glad I found it when I did because I was almost done a branch that incorporated an obscure fork of a seemingly-abandoned library!

And thanks for this thread, @seymores, because I was having this problem and #29 fixed it for me. I don’t know enough at this point to have any suggestions about whether it’s a proper fix, but it’s made `PaperTrail` look li

[2017-08-29 18:39] izelnakri commented on #28
new release 0.7.7 fixes this issue, thanks for reporting @seymores @backspace .

[2017-08-29 18:40] #28 closed

[2017-08-29 18:54] backspace commented on #28
Excellent, thank you!

[2017-09-28 16:20] coladarci opened #31 "Unable to change item_id type"
I've confirmed that my config setting is correct:
[code]
I've updated my migration and confirmed that the field is `uuid` in the DB, yet when I try and send one through, I get this error:
[code]
Am I missing something? I've restarted my servers, even re-migrated everything from scratch and still getting this.. Thanks!

FYI - I'm using Ecto 2.2.1 + Paper Trail 0.7.7 and this is being used inside an

[2017-10-01 12:36] izelnakri commented on #31
Hi, I'm not sure what the problem here. Please check your table schemas from the postgres console(\d+ table_name should give the definition). Make sure your migration references and model schema definitions in each model are correctly defined. Lastly, please note that you cannot use UUID and integer type at the same time in your application for different model versions.

Perhaps this is a bug but

[2017-10-01 23:51] coladarci commented on #31
![image](https://user-images.githubusercontent.com/1004167/31060406-0f8c46de-a6c8-11e7-93a1-9705f90f2c79.png)

Hey @izelnakri - thanks for the response. I started from scratch and ran into the same issue. The above is data you asked for.

I noticed that your badge indicates failing tests - I checked and the failing tests also happen to deal very similar issues. Do you mind double checking? Thanks!

[2017-10-02 05:20] seymores opened #32 "Equivalent of Repo.insert options for "on_conflict: :replace_all, conflict_target:""
I have a need to use the `on_conflict` option, but I think PaperTrail is not supporting yet.
My insert with option looks like below.
Is there something equivalent I can use in PaperTrail for this?

[code]

[2017-10-18 22:06] doughsay commented on #31
@izelnakri please see the above comment.  You're tests have been failing for 5 months.  Having wide test coverage is great, but not if they're failing and you seem to not care about fixing them...
https://circleci.com/gh/izelnakri/paper_trail

[2017-10-19 15:24] izelnakri commented on #31
@doughsay you are more than welcome to fix the CircleCI issue. Have you ever tried to run the tests locally? They pass, there is something wrong with the CircleCI setup/runtime.

Please be more constructive next time. I always read and review pull requests, this is the reason the current pending PRs that lack the certain standard dont get a pass.

[2017-10-19 17:51] doughsay commented on #31
@izelnakri sorry if I came off a bit harsh.  We did in fact get things working on our end.

I wasn't aware that the tests failing were related to CircleCI only, so the (erroneous) assumption was that the failing tests regarding UUIDs was related to our inability to get it working with UUIDs.  The coincidence was suspicious.

@coladarci you can go ahead and close this issue, since we got it working

[2017-10-19 18:17] coladarci commented on #31
To be fair, my setup still doesn't work.. :) ..but the fact that you pulled the exact same code and didn't have a problem clearly points to something on my end, not the projects. Thanks all.....

[2017-10-19 18:17] #31 closed

[2017-10-22 13:07] izelnakri commented on #32
I probably need to see the implementation with test cases to understand what is actually missing and could be implemented.

I'm looking forward to your pull request if this is bugging you. Thanks.

[2017-11-15 00:57] jalcine opened #33 "Allow Model ID column to be configurable."
I use UUIDs for my models with PostgreSQL (though the database layer shouldn't matter here). At [this point](https://github.com/izelnakri/paper_trail/blob/0e978bf6e066802bcbbe1dc0a546a0c92d6b2052/lib/paper_trail.ex#L239) in the insert bits, it looks like it's hardcoded to use `id` as the attribute.

I'm proposing to have a `id_column` configuration option that allows for specifying this.

Side-not

[2017-11-29 09:35] mirelon opened #34 "Is it possible to delay inserting versions while seeding data?"
I have seeds, which are inserting lot of various data into DB.

Profiling shows that lot of time is spent inserting paper_trail versions.

Is it possible to postpone inserting paper_trail versions to the end of seeding? And then insert all versions in one batch?

[2018-01-14 16:26] izelnakri commented on #34
If anyone wants to implement batch operations(PaperTrail.insert_all, PaperTrail.update_all and PaperTrail.delete_all methods) I'm more than happy to review it, currently I don't need such a feature so I haven't implemented it nor any of the contributors.

I do understand its usefulness and I'm in favor it in case if you like to build it and create a pull request.

[2018-01-14 16:26] #34 closed

[2018-01-14 16:26] izelnakri commented on #34
Related to: https://github.com/izelnakri/paper_trail/issues/4

[2018-01-14 16:29] izelnakri commented on #33
We already have this feature, please check the documentation and you're welcome to issue a pull request for any refactors.

When I built this library it was very simple and in many ways it is still quite straightforward and stable in general(have many tests). In case if you are interested in refactoring and create a pull request I will make sure I will review it objectively, I don't hold any emoti

[2018-01-14 16:29] #33 closed

[2018-01-14 16:29] #32 closed

[2018-01-14 16:30] izelnakri commented on #32
I've just closed this issue since there is no specifications. I'm willing to reopen it when its specified.

[2018-01-17 13:28] johnhamelink commented on #31
I had this issue, but after running `mix deps.update paper_trail`, Ecto was updated from 2.2.7 to 2.2.8 and db_connection was updated from 1.1.2 to 1.1.3 which seemed to make this problem go away.

[2018-02-14 19:17] digitalcake opened #36 "Originator relationship not working"
I can see that I'm storing the originator_id and I have the config set to use "user" correct as I can use the name user for the origininator

IE ` |> PaperTrail.insert(user: user)` and again I can see the id being set correctly in the db.

But when I try to preload or call upon the originator thats where I hit a problem.

[code]

Not sure what I'm missing here.

Spec:
* Elixir 1.6.0
* Phoenix 1.3

[2018-02-14 21:35] digitalcake commented on #36
It would look as if define_field is false for the Ecto Schema.
https://github.com/izelnakri/paper_trail/blob/master/lib/version.ex#L24

Why is that? and would would I define that field otherwise?

[2018-02-14 22:34] digitalcake commented on #36
Nope I was wrong its the condition that is preventing the belongs to.
https://github.com/izelnakri/paper_trail/blob/master/lib/version.ex#L21

I removed the condition locally and I no longer have an issue, but its odd because if I run the condition it looks as if it should render true. So I don't know why the condition is failing to set the belongs_to correctly.

[2018-02-14 22:37] digitalcake commented on #36
Ok, I think I may have found the issue, the deps compiled before I added config but then they didnt recompile. Since you will need to recompile the deps after you update the config/config it maybe worth noting in the READ ME.

[2018-02-14 23:52] digitalcake opened #38 "PaperTrail.update fails at setting the item_changes for versions when struct include nested ecto changeset for assoc"
when trying to update a valid changeset I get some odd errors the call out an issue on the associated recorders.

Note: the changeset is valid.
[code]

heres how I build the assoc
[code]
I'm not doing much other than just simply
` |> cast_assoc(:phone_numbers)`
with my change set

vars:

client =
[code]

attrs =
[code]

[2018-02-15 00:13] digitalcake commented on #38
I'd like to note that this is only for update. Insert works with the same changeset

[2018-02-15 00:22] digitalcake commented on #38
Also noticing that version's item_changes does not include a ref to the assoc so I'm wondering why the update looks to be trying to insert phone_numbers ?

[2018-02-15 00:38] digitalcake commented on #38
It looks to be related to how insert deals with serializing out the assoc on insert but does not do the same for update.

Its an interesting problem in that if you are only updating the assoc then what should you be putting in the versions?

[2018-02-15 00:42] digitalcake commented on #38
The changeset.changes includes  an #Ecto.Changeset inside the struct.  https://github.com/izelnakri/paper_trail/blob/0e978bf6e066802bcbbe1dc0a546a0c92d6b2052/lib/paper_trail.ex#L256

this is what my changeset.changes looks like
[code]

I believe this to be the issue.

[2018-02-15 01:23] joshchernoff opened #39 "Feature Request: Versions for nested associated records."
If I insert a changeset that contains other associated structs only the parent gets recorded in the versions table.

All the other nested records are disregard.

This currently occurs at
https://github.com/izelnakri/paper_trail/blob/master/lib/paper_trail.ex#L296

And it only happens for the insert.

Updates will cause an error related to #38

I think we should loop over the changeset and create a

[2018-02-15 20:04] izelnakri commented on #39
Yes, I agree this behavior should change.

We should either raise or implemented nested version tracking.

Although I'm not in favor of a nested versioning feature I've always been open to review and if it is good and community wants it, merge the feature. So far there has been 3 trials however none were able to finish and test the feature completely.

[2018-02-15 20:06] izelnakri commented on #38
I'm closing this issue as it is it duplicate of https://github.com/izelnakri/paper_trail/issues/39

[2018-02-15 20:06] #38 closed

[2018-02-15 20:07] izelnakri commented on #36
I'm glad that you've found this issue and included in your pull request. I will review and merge it to README.

[2018-02-15 20:07] #36 closed

[2018-02-22 10:19] devvit commented on #31
```PaperTrail.Version``` is outside your project, remove  ```_build``` directory, recomopile all

[2018-05-23 04:38] steffenix opened #43 "Make table name configurable."
I would like to use paper_trail but my database already has a table named version, we could make the table name configurable.
What do you think @izelnakri ?

[2018-05-23 07:11] izelnakri commented on #43
Sure @steffenix, writing tests for such scenario could be challenging but I always welcome pull requests to this project.

[2018-05-23 07:11] #43 closed

[2018-05-24 02:21] steffenix commented on #43
I have made changes but like you said it's hard to make the tests

[2018-05-24 07:20] izelnakri commented on #43
we can make one simple test and if there are edge cases we can add the other tests later. Looking forward to your pull request!

[2018-05-30 22:40] kalvinhom-fluxx opened #44 "MySQL does not support read_after_write"
https://github.com/izelnakri/paper_trail/blob/113ff97d8283c80d24ca4aea53fe1d763f5ab5ac/lib/version.ex#L17

MySQL fails on insert because it doesn't support read_after_write.  It doesn't seem like this is really required here?

[2018-06-10 21:16] izelnakri commented on #44
I don't want to support MySQL. Feel free to fork to project if you want to create a versioning library for MySQL. I'm sorry.

[2018-06-10 21:16] #44 closed

[2018-06-12 20:44] travcunn opened #45 "Elixir 1.6.5 - Compilation warnings result in "module Papertrail is not available""
When compiling my app, I see these warnings:
[code]

Finally, when attempting to use Papertrail in my app, I get the following error:
[code]

Note; `MyApp` is a placeholder for what my app is actually called.

Am I missing something obvious?

paper_trail == 0.7.7
ecto == 2.2.8
postgrex == 0.13.5

elixir 1.6.5

[2018-06-13 15:08] travcunn commented on #45
Ok it looks like https://github.com/seymores/paper_trail is another fork of this repo that works correctly in my environment. Could it just be a difference between Elixir versions that are supported?

[2018-06-15 11:41] MeterSoft opened #46 "error when trying update post with nested fields"
When i edit and save post with nested fields without change base post fields papertrail return error
[code]

When i update record without papertrail it works well.

my changeset

[code]

to save use
[code]

[2018-06-22 08:47] mindreframer commented on #45
@travcunn you should update your paper_trail version to `0.8`. The readme is not up-to-date.

[2018-06-22 09:29] izelnakri commented on #45
Yes, also the module name is PaperTrail not Papertrail. Im closing this issue now. Let me know if you would like it reopened.

[2018-06-22 09:29] #45 closed

[2018-06-23 00:06] travcunn commented on #45
Thanks for the responses. I made a really stupid mistake and tried to use the `Papertrail` module rather than the `PaperTrail` module.

I thought I was going crazy, turns out I need to pay more attention to details.

[2018-06-27 14:57] izelnakri commented on #46
Could you post your model schema? PaperTrail currently does not support nested relationship versioning on purpose, if this is what you were trying to do. I suggest inserting them in a flat transaction: https://github.com/izelnakri/paper_trail/issues/39.

[2018-06-27 14:57] #46 closed

[2018-07-06 11:26] stonehz opened #48 "[Feature Request / Looking for Solution] How to utilize Ecto's Multi + Create Version"
We are trying to find a way on how to wrap multiple updates on a transaction + build the version  but not sure what would be the right approach.
We have the following scenario:

1) Get access to private function `make_version_struct` (https://github.com/izelnakri/paper_trail/blob/master/lib/paper_trail.ex#L295 )  and add it on our existing multi (bypassing all other  paper_trail logic which  can n

[2018-07-19 16:43] izelnakri commented on #48
Feel free to submit a pull request, I'm interested in the second approach!

[2018-07-31 00:21] #48 closed, assigned to nobody

[2018-08-09 15:16] mymai91 opened #49 "Version originator relationships"
This is the documentation
# in your config/config.exs

[code]
Let's say my model is App.Account.User
I need to config

[code]
Technically, It should get the association with `User` but It got `Account`.
To make it work, I have to create one more model with the name `App.User` but I don't think this is a good way.

Can you help take a look at it?

Thanks for your supporting

[2018-08-11 13:02] izelnakri commented on #49
Hi,

Which table do you have a foreign key relationships with in your postgres database? You can check it with `$ psql your_database_name` and then `\d+ versions`.

If you change your originator model you need to first create a database migration so the columns foreign key reference is different. Did you make that change?

[2018-08-12 20:43] #49 closed

[2018-08-16 02:53] mymai91 commented on #49
hi @izelnakri

Table have a foreign key relationships is `users` but the model name for this table is `App.Account.User` not `App.User`

I double check like your way but still can't fix.

Config
[code]

Error: `protocol Ecto.Queryable not implemented for App.Account.User, the given module does not exist.`

[2018-08-16 05:47] kradydal opened #50 "First version for existing records."
I'm trying to implement paper_trail in my project. How can I add the first version to existing records? Is it possible? Or this functionality is only available for new records?

[2018-08-16 13:45] izelnakri commented on #49
I will need more specifications unfortunately to reproduce the bug.

Could you create a showcase phoenix application with the bug and link it here? Then I can understand the true issue and we can create fix and tests cases accordingly.

[2018-08-17 08:27] kradydal commented on #50
I added a slightly modified module and everything works as it should.

[2018-08-17 08:27] #50 closed

[2018-08-20 03:12] mymai91 commented on #49
@izelnakri i just read your feedback. I will do it asap. maybe tomorrow.
Thanks for supporting

[2018-08-20 13:57] izelnakri commented on #50
Glad to hear it worked for you :)

[2018-08-30 12:17] sickill commented on #15
This is one way of doing it:

[code]

The result is a map with the attributes post had at a given time. This could be further piped into `Ecto.Changeset.cast` and `Ecto.Changeset.apply_changes` to get actual struct:

[code]

[2018-09-15 14:38] tomconroy commented on #15
Is there a story for tracking how the shape of a model might change over its lifetime? For example, if a field name is changed, or a new (required) field is added. Or a more complex example, a column is extracted to a new table, and replaced with a reference? It seems like this kind of thing would be possible, but not trivial. Is this what you mean by "paying attention to version meta tags"?

[2018-10-31 14:07] haylen opened #52 "Allow skipping changes for some attributes"
Would be cool to have an option for skipping changes for some attributes like [skip](https://github.com/paper-trail-gem/paper_trail#skip) does for Rails. From what I saw there is no such thing yet.

[2018-11-01 15:48] haylen commented on #52
[PR](https://github.com/izelnakri/paper_trail/pull/53) with proposed solution

[2018-12-07 15:10] #52 closed

[2019-06-21 14:08] mstratman opened #54 "Update Changelog"
A Changelog is crucial for assessing whether to upgrade, and what changes might be required in a user's codebase to facilitate the upgrade.

Ideally under each version it will categorize the types of changes:
* Enhancements
* Changes
* Bug fixes
* Deprecations
* Breaking changes

[2019-06-21 14:14] mstratman commented on #54
I may take a first stab at this, and just took a look and saw tags aren't being used for releases. I recommend tagging each release to have a clear and convenient-to-access way of identifying the point in time of a particular version. It adds very little time to the workflow.

Using commit messages or tracking changes to mix.exs - which is what it appears I'd need to look at here? - is brittle and

[2019-06-25 12:48] izelnakri commented on #54
Hi Mark! Thanks for your appreciation. Yes I've only version taged the last release, and will always tag versions from now on.

Feel free to read the commit history, I hope it will be enough to generate a changelog, I'll be keeping a changelog from now on. Looking forward to your PR ;)

[2019-06-27 14:44] bezborodow opened #56 "Tracking current_version_id in item_changes seems superfluous."
Tracking `current_version_id` in `item_changes` seems superfluous. It is best in many circumstances to deal with a dataset that only highlights what actually changed. Particularly if trying to building a history or timeline of changes to a record in the UI or comparing versions of a record. Having metadata such as `current_version_id` can be tiresome, since it needs to be filtered out.

It is also

[2019-06-27 14:55] bezborodow commented on #56
Sort of related, but not quite: #52

[2019-06-29 14:33] izelnakri commented on #56
`$model.current_version_id` and `$model.first_version_id` is for the `strict_mode` configuration.

I see that `user_id` of your model gets changes, so `item_changes` for the version of that `PaperTrail.update()` is neccessary.  Having a change in your model means there will be another `PaperTrail.Version`, and that version with have a new `current_version` reference.

We want to keep each model ch

[2019-06-30 13:31] #54 closed

[2019-07-01 09:32] izelnakri commented on #15
Yes, I thought of implementing something like this @tomconroy, then thought it should be left to the developer during their migration instead. Because checking such changes during each migration with PaperTrail would take too much time and work from PaperTrail side.

[2019-07-01 09:36] #39 closed

[2019-07-01 11:21] bezborodow commented on #56
Thank you for your considered response.

Personally, I am using versions as merely a history log with no need to roll back. However, from what you said, I can see how some users may need the `current_version_id` field for rolling back, which I did not consider before. But then, that also raises the question: when rolling back to an earlier version, would the `current_version_id` be incremented to

[2019-07-01 12:24] bezborodow opened #57 "Using PaperTrail with EctoConditionals (Interoperability)"
I am using PaperTrail to track versioning in conjunction with EctoConditionals.

https://hex.pm/packages/ecto_conditionals
https://github.com/codeanpeace/ecto_conditionals

The documentation mentions that a Repo should be passed in:

[code]

This allows calls such as:

[code]

The only problem is that this will not call `PaperTrail.insert!/1`.

I managed to workaround this by creating a delegator

[2019-07-01 12:27] bezborodow commented on #57
It might even be simpler just to declare the `defdelegate get_by`, etc directly inside the `PaperTrail` module instead of using a `Delegator`. I just did that because it would be easier since I didn't want to modify project dependencies.

[2019-07-01 13:19] bezborodow commented on #57
I also noticed that `PaperTrail.insert/1`  will return something like `{:ok, %{model: %Model{ ... }, version: %PaperTrail.Version{ ... }}`, whereas `get_by/3` would just return `{:ok, %Model{ ... }}`.

Therefore my solution is not quite complete without also providing a consistent interface in both circumstances.

I'll work on a pull request soon with some examples to prove what the issue is.

[2019-07-01 14:28] tomconroy commented on #15
Thanks @izelnakri, so do you imagine the developer would migrate the historical versions, rather than implement the different ways a historical version might be restored to the latest schema? Seems like either path could have many complications

[2019-07-09 11:06] naumoski opened #58 "(FunctionClauseError) no function clause matching in Regex.safe_run/3 on mix deps.get"
Getting this error when trying to get the dependencies
`
** (FunctionClauseError) no function clause matching in Regex.safe_run/3

    The following arguments were given to Regex.safe_run/3:

        # 1
        ~r/\/\/([^:]*):[^@]+@/

        # 2
        "https://repo.hex.pm/tarballs/phoenix-1.4.9.tar"

        # 3
        [{:capture, :all, :index}, :global]

    Attempted function clauses (showi

[2019-07-09 11:13] naumoski commented on #58
Sorry my bad, you can close this issue

[2019-07-09 11:13] #58 closed

[2019-10-11 01:11] tensiondriven opened #61 "Allow strict_mode on a per-model basis"
I have an application where I need to use Strict Mode for a certain set of models, but not for all models.  I would like to be able to specify if a model should be treated as "strict", or optionally if a model does not have the `first_version_id` and `current_version_id` fields, it should not be treated as strict.  Currently if a model does not have these fields, it throws:

[code]

During an inse

[2019-10-13 02:08] tensiondriven commented on #15
For the benefit of others; something I've been doing is stuffing a serialized representation of an object into the "meta" field on every update.  That way, I've got the struct at a given point-in-time and don't have to reconstitute it.  This is a naive approach, and I like it because its simple.  I cheat a little by updating the record in the Versions table.  Something like:

[code]

[2019-11-01 18:46] izelnakri commented on #61
I think this is a good design choice, if a model is tracked we want to guarantee its tracked version to always exist. For optional use otherwise, a model could be separated into two tables/models.

[2019-11-01 18:46] #61 closed

[2019-11-01 18:55] izelnakri commented on #57
Hi @bezborodow, thank you for raising these interesting points.

For the first delegation solution you did I cant think of a better solution for now instead, your solution is fine despite the fact that it might feel hacky, do you have any suggestions?

For your second point:

[code]
I do not think this is hacky. In my opinion, it is good that paper_trail provides both model and version in a struct

[2019-11-14 13:31] #57 closed

[2019-12-15 17:29] izelnakri commented on #56
Hi @bezborodow, sorry for late response. Yes it could be possible yet if we let the users decide for themselves it makes the library and tests more complex so I prefer not to implement it unless there is a significant need. I'm closing this issue, feel free to open a new issue if you think this is an important concern

[2019-12-15 17:29] #56 closed

[2020-02-09 15:20] rschooley opened #67 "Can I use Papertrail.Multi.insert with Enum.reduce?"
The Readme for the project says it's cool to ask questions in a new GH Issue; if you'd prefer this on a forum instead let me know.

I refactored my code from a `Repo.insert_all` to `Enum.reduce -> Ecto.Multi.insert` so I can move it to Papertrail to track the inserts.  This works:

[code]

But it looks like [PaperTrail.Multi.insert/3](https://hexdocs.pm/paper_trail/PaperTrail.Multi.html#insert/3)

[2020-02-27 17:42] izelnakri commented on #67
Hi @rschooley, I would actually like to have Repo.insert_all, delete_all and update_all functions just like Repo. If you would like to implement and tests these features please create a PR, I'm currently busy to implement them for a while but would be willing to review and merge a PR.

As for your question, I'll do an investigation shortly later and come back to you, just saw your issue now. Thank

[2020-03-25 11:52] marioimr commented on #67
@rschooley I just made a PR because I had your same use case

[2020-03-29 02:21] izelnakri commented on #67
Hi @rschooley, your feature request is delivered on new v0.8.7. Closing this issue now, please let me know if you would like to reopen it. Thanks.

[2020-03-29 02:21] #67 closed

[2020-06-01 12:05] marioimr opened #91 "Initialise already existing records"
Hi, would you accept a PR for creating an entry in the version table for records that have been inserted without paper_trail?

My use case is that I have many records that were inserted before we adopted your library, now I would like to be able to track future changes so I was thinking of creating PaperTrail.initialise/2 function and apply it to all existing records.

[2020-06-06 00:03] gullitmiranda opened #93 "Feature Request: Current values"
what do you think about adding the possibility to register the pre-change in the versions?

with this feature we:
1. Direct show changes instead of load all previous versions at find last change. Which is even more critical with multiple fields.
2. can search specific changes like: task status updated from TODO to DONE

i believe this feature can be added without changing the current lib behavior

[2020-06-14 23:38] izelnakri commented on #91
Hi @marioimr, this is an interesting use case, generally I thought you could just ```PaperTrail.Version{} |> Repo.insert``` with "insert" on the versions but I'm always interested in reading and reviewing PRs, so I am looking forward to your PR ;)

[2020-06-14 23:40] izelnakri commented on #93
Hi @gullitmiranda, the initial inspiration of this project the ruby `paper_trail` gem had ```item_from`` field, however this results in too much data being replicated. It is always possible to write custom queries and optimise them so on purpose I leave out the ```item_from``` field from this library. Let me know if this didn't answer your question, thanks for your request.

[2020-06-15 12:15] gullitmiranda commented on #93
I agree if the item_from replicates the current value completely. But I don't see much of a problem in recording just the changed values.

In addition, this feature could be disabled by default, as is strict mode.

[2020-06-15 12:26] izelnakri commented on #93
@gullitmiranda ok after some consideration, if you are willing to create a PR for this optional behavior, I think we can merge it after good tests for the cases of this feature when toggled and not.

[2020-06-22 13:16] marioimr commented on #91
My idea was to have a more "complete" API, but on second thought it's not so useful, so I'll close this

[2020-06-22 13:16] #91 closed

[2020-08-25 17:23] patmaddox commented on #91
Here's a backfiller we wrote for our app:

[code]

[2020-09-15 16:06] microSoftware opened #105 "What would be a common use case of paper_trail?"
Hi, does this library allow you to do like the "undo" feature in Google documents and where you have access to all the modification history?

Or is it more devops focused? for example by reversing to previous database values if something goes wrong

Thanks

[2020-09-26 12:16] izelnakri commented on #105
Hi @microSoftware , it can do both depending on how you store your models versions(and their relationship models). It is not particularly optimized for text diffs, it stores the complete text when there is a change in the field. However, I would be interested in reviewing/merging that feature if we can implement well enough.

[2020-10-01 19:59] #105 closed

[2020-12-16 23:45] maennchen opened #125 "Add Formatter to CI Workflow"
Add `mix format --check-formatted` to CI to make sure future PRs comply with the Elixir Formatter.

I'll provide a PR if you wish so after my other PRs are merged.

[2020-12-18 17:54] izelnakri commented on #125
:+1: good idea, yes would be great, thanks!

[2020-12-21 13:06] maennchen commented on #125
Replaced by #126

[2020-12-21 13:06] #125 closed

[2021-01-20 13:18] bumbus opened #127 "Question on embeds_many"
Hi,
I am not sure, if I am using things wrong, or if this is the wanted behaviour.

I have a schema which `embeds_many(:entities, Entity, on_replace: :delete)`.
In my update changeset I do `cast_embed(:entities, with: &Entity.update_changeset/2)`.

This results in a version like this:

[code]
I am wondering, why unchanged entities are listed in `item_changes`.
And somehow it would be helpful to al

[2021-01-25 19:19] hickscorp opened #128 "Unclear how to use `PaperTrail.Multi`."
We're trying to integrate PaperTrail in our application, which uses Ecto.Multi quite extensively.
We've tried many different combinations of `PaperTrail.Multi.new()`, then adding steps using the standard `Ecto.Multi.insert` and / or `Ecto.Multi.update` functions, then trying to commit using `PaperTrail.Multi.commit` but it doesn't seem to work.
We've noticed that `PaperTrail.Multi.insert` and `Pap

[2021-01-29 15:56] maennchen commented on #128
@hickscorp I don't think that you're currently supposed to call `PaperTrail.Multi` directly. As far as I see the only reason `Multi` is used is to queue both the operation and it's version into one transaction.

I think currently that the modules `PaperTrail.Multi`, `PaperTrail.RepoClient` & `PaperTrail.Serializer` should probably be `@moduledoc false`.

It would however be very useful to refactor

[2021-01-29 15:59] maennchen commented on #127
@bumbus Currently the changes are tracked by checking the `Ecto.Changeset` `changes` field recursively.

If the changeset lists something as a change, it will be serialized as well.

Can you inspect the changeset before the update?

[2021-01-29 16:04] hickscorp commented on #128
Good afternoon @maennchen and thanks for the insights. I understand now - `PaperTrail.Multi` is used internally by PaperTrail.

For what it's worth, we've started rolling our own, as a drop-in replacement for Repo.
It might be of interest to you, here is how it works (See snippet).
Essentially, it acts as a "man in the middle" between the repo and the Ecto API.
The reason for this, is that `PaperT

[2021-01-29 16:10] maennchen commented on #128
@hickscorp Oh, that looks very interesting. I'd like to use something like this myself.

If @izelnakri agrees, I think this could be an awesome improvement of this lib.

[2021-01-29 17:07] hickscorp commented on #128
In this case, I will post updates. Maybe we can team up :)

[2021-01-30 03:45] izelnakri commented on #128
Hi there @maennchen  & @hickscorp, I'm extremely busy these days due to workload, thus would appreciate if you could create a PR with the requested changes. I haven't read all the code here above yet, `PaperTrail.Multi` was built at the time to give more flexibility to developers to customize the transaction `PaperTrail` uses, so I'd be interested in any approaches that could make it more flexible

[2021-01-30 03:49] izelnakri commented on #127
@bumbus we currently do one level-deep change tracking as this is what Ecto Changesets use.

I don't think its a good idea to implement deep nested attribute/value tracking, it complicates this library and will make our operations slower. Instead please find another way to track your nested objects, perhaps by removing the embeds/moving it to another table in the db.

[2021-02-01 10:40] bumbus commented on #127
@maennchen @izelnakri
Thanks for reply. At the moment JSONB operations (e.g. updating one field in a embeds_many, jsonb_set) does not seem to  be well supported by ecto changeset. So it makes sense that it won't work properly with a change tracker that relies on changesets.
Would it be possible to track changes (insert, update, delete) of a has many relation with paper trail and easily revert them

[2021-02-07 22:28] izelnakri commented on #127
@bumbus yes you track the model that your relationship is based upon. Thanks, closing this issue then

[2021-02-07 22:28] #127 closed

[2021-02-09 18:27] maennchen opened #133 "Multi-Repo Configuration"
Currently all configuration is applied globally. To enable things like #128, this library should be configurable per Repo and not globally.

[2021-02-09 18:28] maennchen commented on #128
@hickscorp I've spent some time cleaning up #131 and properly exposing `Ecto.Multi` #132 as a first step.

After this I would like to tackle #133. When that is done I think the basis should be complete to provide a clean implementation of what you've posted above :)

[2021-02-09 18:33] maennchen opened #134 "Strict Mode with UUID"
Currently Strict Mode is not supported when using UUIDs.

It could however easily be supported by generating the UUIDs on the client side.

This could look something like this:

[code]

[2021-02-09 18:35] maennchen commented on #134
(If UUIDs are also used for the `Version` id, the work could even be done outside of `Ecto.Multi.run` and 2 inserts could be used instead.)

[2021-02-10 19:27] izelnakri commented on #134
Hmm this could be a good breaking change on `strict_mode` env config, however:
-  Im still not sure why we would want to use uuids for `%PaperTrail.Version{}`s instead of ids.
-  Tests for strict_mode are going to be way more complicated.
-  Probably then trackings should be `first_version_uuid` and `current_version_uuid` as well.

So I'm not sure, we probably need good use-cases for this.

[2021-02-10 19:28] izelnakri commented on #133
Yes, this sounds good!

[2021-02-10 19:40] maennchen commented on #133
@izelnakri I think we'll find a way that uses the current config with a deprecation warning.

[2021-02-10 19:55] maennchen commented on #134
@izelnakri Actually it's the other way around:

https://github.com/izelnakri/paper_trail/blob/main/lib/paper_trail/multi.ex#L51

[code]

`get_sequence_id` does not work with models that use uuids (if `Version` also uses uuids is not relevant). It is however not required since a new UUID can just be generated instead of calling a sequence.

This would allow to use strict_mode when using uuids in yo

[2021-02-11 23:38] izelnakri commented on #134
Yep depending how tests and _id to _uuid config works out i guess we might be able to ship this depending on the end-tests complexity

[2021-04-04 10:42] abravalheri opened #137 "Question: Is it possible to insert the version and change the model using 2 steps in the database?"
Hello, thank you very much for the awesome library!

I was just wondering if it is possible to insert the version record in the database first, and then, in a second stage update the model...
(is there any consistency checks assumptions that the library relies on and that would break?). Have anyone ever tried to do that?

This question might sound weird, but the use case is rather simple: imagine

[2021-04-19 12:14] fv316 commented on #39
Has there been any progress on this? I see it has been closed without a solution.

[2021-04-19 18:19] izelnakri commented on #39
Hi @fv316, no solution so far has been complete for a review and I'm not going to implement it personally. Feel free to take a stab at if you like like. I'd be willing to review however the final solution should be well covered with tests without having detrimental effect on the rest of the source code ideally.

[2021-04-19 18:28] joshchernoff commented on #39
This feature request was asking it to look at it from a design perspective. It's fair to say this is a very hard ask. There is little incentive to dev out said feature unless there is a solid consensus on the design change if that comes at the expense of other patterns put in place.  I can't see a clear additive approach to this. Maybe more open discussion is required?

[2021-04-19 18:47] joshchernoff commented on #39
Also closing the ticket does even less to help promote the idea if you really are up for seeing it. Just saying 🤷‍♂️

[2021-04-24 10:53] izelnakri commented on #137
Not sure why you'd want that. Seems like your scenario includes 2 different models (Post, PostSuggestion) so they would be tracked differently. It is much better to follow a certain standard/convention rather than to reinvent/change the wheel/introduce a new way/custom deviation in my opinion. What do you think?

[2021-04-24 10:55] izelnakri commented on #137
Closing this issue, let me know if you'd like it to be reopened.

[2021-04-24 10:55] #137 closed

[2021-05-30 14:36] #23 closed

[2021-07-06 13:56] romariolopezc commented on #31
Hello, just installed PaperTrail and configured it and ran into the same issue:

Config:
[code]

[code]

Table in psql:
[code]

Seems that everything is UUID but something is wrong?

@doughsay how did you fix it?

[2021-07-06 14:09] romariolopezc opened #153 "Is there a way to pass originator_id instead of originator struct"

[2021-07-06 14:11] rlopzc opened #154 "Is there a way to pass originator_id instead of originator struct?"
First off, nice repo very helpful!

Use case:
I have the user_id inside a `Merchant` struct (belongs_to) and most of the times the user isn't loaded but I do have the originator_id (user_id) available. It would be better to not preload an association that is only going to use the `.id` when passing the `originator: struct`

[2021-07-06 16:15] doughsay commented on #31
That was 4 years ago, and many versions ago, I don't remember, and we do not use papertrail anymore.

[2021-07-06 16:20] romariolopezc commented on #31
I solved by removing the compiled `_build/` papertrail folder, recompiled and ir worked :man_shrugging:

[2021-07-07 17:25] #153 closed

[2021-07-28 00:19] izelnakri commented on #154
Hi @romariolopezc , sorry for late response, summer times ;)

`originator` supposed to be "the person who does the action" so if the web request is fired by a certain individual, you should already have the person available within that request. However a developer should be able to insert a new `PaperTrail.Version` by just just providing `originator_id` instead of `originator` during `PaperTrail.i

[2021-08-02 22:13] izelnakri commented on #128
I suppose we can close this issue, please let me know if you'd like it to be re-opened.

[2021-08-02 22:13] #128 closed

[2021-08-03 07:09] hickscorp commented on #128
Hi @izelnakri,

Yes, it seems like a good idea to close it for now.
After investigating, we decided to have versioning done outside of our application - too many cases where it's unfortunately not possible to do it at Ecto level.

[2021-10-07 10:18] BernardoMG opened #159 "Unable to perform update when the changeset also includes changesets from nested assocs"
Hi all 👋

I'm having some issues when performing `PaperTrail.update` but everything ends well if I just use ` Repo.update`.

I've no issues with the **insert**:

[code]

**changeset**:

[code]

[code]

but when I try the **update**:

[code]

ends in:
`** (Protocol.UndefinedError) protocol Jason.Encoder not implemented for #Ecto.Changeset<action: :replace, changes: %{}, errors: [], data: #Incidents

[2021-10-09 17:04] #159 closed, assigned to nobody

[2021-11-01 23:23] izelnakri commented on #15
I'm considering to cut a v1 release after new years. So far I think it would be great if we describe this in the README.md, however if someone wants to create a PR for it, I'm willing to review it.

[2021-11-03 19:38] tensiondriven commented on #15
@izelnakri What aspect of this would you like to see described?  If its the naive approach I posted above, I'd be happy to whip up a PR.  For the other approach of building a representation from history, I'm less stoked as any missing rows from the `papertrail_versions` table would result in an incorrect representation.

[2021-11-03 20:34] izelnakri commented on #15
I think naive approach could add to the complexity in terms of maintainance, however I dont mind having a `PapertTrail.revert($paperTrailStruct)` that can fetch all the versions and assign them one by one to the latest one in the database, maybe 2 function, one to view the built struct, the other to replace existing record with the built struct. Yes I'm aware missing row would result in incorrect

[2022-10-05 11:21] jkmrto commented on #154
It looks like it is possible to pass a `map` with only the originator ID instead of the whole struct like `originator: %{id: id}`.

You can see it here -> https://github.com/izelnakri/paper_trail/blob/main/lib/paper_trail/serializer.ex#L26

[2022-10-06 08:44] izelnakri commented on #154
as @jkmrto pointed out, this feature is currently possible, thus I'm closing this issue. Please let me know if you'd like it to be reopened @rlopzc !

[2022-10-06 08:44] #154 closed